* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  display: grid;
  height: 100vh;
  place-content: center;
  text-align: center;
  gap: 20px;
  background-color: #2f2f2f;
}

h1 {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}

span {
  color: #292446;
}

.counter {
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.counter button {
  padding: 5px;
  border-color: #fff;
  border-radius: 11px;
  font-weight: bold;
  color: #fff;
  background-color: #0d7d8f;
  transition: .3s all ease;
  cursor: pointer;
}

.counter button:hover {
  background-color: #292446;
}
